body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    flex: 1;
}

.search-bar input.rounded-left {
    border-radius: 8px 0 0 8px;
}

.search-bar input.rounded-right {
    border-radius: 0 8px 8px 0;
}

#search-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #1558b0;
}

.flight-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flight-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.airline,
.flight-number,
.departure-time,
.arrival-time,
.duration,
.price {
    font-size: 1em;
    color: #333;
}

.price {
    color: #7de39a;
}

.book-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #1558b0;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-button:hover {
    background-color: #1558b0;
}

.page-info {
    font-size: 1em;
    color: #333;
}
